.main-home {
    background-color: rgb(242, 243, 243);
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: auto;
}

.post-section {
    flex-direction: column;
    padding: 80px;
}
